/* estrutura da pagina */

body {
  margin: 0;
}

.container {
  background: yellow;
  width: 1110px;
  margin: 0 auto;
}

/* divisoes da pagina */

.topo {
  background-color: rgb(93, 143, 224);
  height: 150px;
}

.meio {
  background-color: rgb(38, 169, 179);
  height: 150px;
}

.rodape {
  background-color: rgb(0, 89, 255);
  height: 150px;
}

/* conteudo do topo */

.menu {
  background-color: rgb(51, 216, 36);
  height: 20px;
  width: 150px;
}

.logo {
  background-color: rgb(43, 238, 134);
  height: 20px;
  width: 100px;
}

.btn {
  background-color: rgb(212, 233, 20);
  height: 20px;
  width: 100px;
}
