body {
  margin: 0px;
  font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flex{
  display: flex;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.rosa {
  background-color: pink;
}

.cinza {
  background-color: #FBFBFB;
}

.pequeno {
  height: 70px;
}

.grande {
  height: 300px;
}

.organiza-topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.organiza-meio {
  display: flex;
}

.ilustracao {
  display: flex;
  align-items: center;
}

.ilustracao img {
  width: 540px;
}

.ilustracao-mobile{
  display: none;
}

.acao {
  width: 245px;
  text-align: right;
}

.azul-escuro {
  background-color: #111B47;
  color: white;
}

.borda-arredondada {
  border-radius: 2px;
}

.btn {
  border: none;
  padding: 0;
  font-family: Roboto;
}

.btn:hover{
  background-color: #0e163c;
}

.btn-medio {
  width: 160px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.btn-bot{
  width: 130px;
}

/* navigation */
.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 245px;
  justify-content: space-between;
}

.texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.meio {
  height: 638px;
}

.rodape {
  height: 216px;
}

.media img{
  margin: 0 10px;
  width: 30px;
  height: 30px;
}

.social-media {
  display: flex;
}

.organiza-rodape {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rodape .organiza-rodape:last-child {
  padding-top: 20px;
  padding-bottom: 32px;
}

.organiza-rodape:first-child {
  padding-top: 60px;
  padding-bottom: 40px;
}

.border-box{
  border-top: 0.5px solid gray;
}

@media only screen and (max-width: 1000px) {
  .container{
    max-width: 700px;
  }

  .organiza-meio{
    flex-direction: column;
    padding-bottom: 200px;
  }

  .texto{
    align-items: center;
  }

  .btn-meio{
    width: 400px;
    margin: 1.5rem 0 0 0;
  }
}


@media only screen and (max-width: 700px) {
    .container{
      max-width: 500px;
    }
    .organiza-meio{
      padding-bottom: 0px;
    }
    
    .nav{
      display: none;
    }

    .btn-top{
      width: 120px;
    }

    p{
      font-size: 0.85rem;
    }

    .ilustracao img{
      display: none;
    }

    .ilustracao-mobile{
      display: flex;
    }

    .ilustracao-mobile img{
      margin: auto;
      width: 400px;
      height: 400px;
    }

    .logo-bot{
      display: none;
    }

    .media img {
      width: 20px;
      height: 20px;
    }

    .social-media{
      display: flex;
      margin: auto;
    }
  }