body {
    margin: 0px;
    font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
  }
  
  .container {
    max-width: 1110px;
    margin: auto;
  }
  
  .rosa {
    background-color: rgb(143, 106, 106);
    
  }
  
  .cinza {
    background-color: rgb(255, 255, 255);
  }
  
  .pequeno {
    height: 70px;
  }
  
  .medio {
    height: 200px;
  }
  
  .grande {
    height: 70%;
  }
  
  .organiza-topo {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
  }
  
  .acao {
    width: 245px;
    text-align: right;
  }
  
  .azul-escuro {
    background-color: #410a0a;
    color: white;
  }
  
  .borda-arredondada {
    border-radius: 2px;
  }
  
  .btn {
    border: none;
    padding: 0;
    font-family: Roboto;
  }
  
  .btn-medio {
    width: 160px;
    padding-top: 9px;
    padding-bottom: 9px;
  }
  
  /* navigation */
  
  .nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 245px;
    justify-content: space-between;
  }


.fot-container{
    width: 1100px;
    margin: auto;
    
 }

 .organizar-fot{
    display: flex;
    align-items: center;
    height: 70%;
    justify-content: space-between;
 }

 .menu-foter{
    border-top: 1px solid #771919;
 }

.nav-footer{
    margin: 20px;
    padding-bottom: 10px;
 }