.organiza-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 245px;
    justify-content: space-between;
    font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}